body {
    font-family: 'Josefin Sans', sans-serif;
}


/*NAWIGACJA*/

#menu {
    background-color: #2c3e50;
}

.navbar {
    font-size: 1.9rem;
    color: #ffffff;
    padding: 1rem;
    border: none;
}

.dropdown-menu {
    background-color: #2c3e50;
    font-size: 20px;
    border: none;
    text-align: right;
}

.dropdown-menu li a {
    color: white;
    padding: 10px;
}

.dropdown-menu li a:hover {
    color: black;
    background-color: orange;
    transition: all 1s;
}

.navbar-collapse {
    border-color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: orange;
    transition: all 1s;
}

.navbar-nav>li>a {
    display: block;
    color: white;
}

.nav li a:focus,
.nav .open>a:focus {
    color: white;
    background-color: transparent;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    color: black;
    background-color: orange;
}

.navbar-nav>li>a:hover {
    display: block;
    color: black;
    background-color: orange;
    transition: all 1s;
}

.navbar-toggle {
    color: white;
    border: 1px solid white;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle:hover {
    background-color: orange;
}


/*HEADER*/

header {
    margin-top: 50px;
}

.headerbg {
    text-align: center;
    height: 50vh;
    background-image: url('../img/headerbg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerbg h1 {
    color: white;
    padding-top: 20vh;
    margin: 0 0;
    font-size: 80px;
    font-family: 'Nunito', sans-serif;
    text-shadow: 10px 10px 10px black;
}

.headerbg2 {
    background-color: burlywood;
    height: 50vh;
    border: 1px solid black;
}


/*POGODA*/

.pogoda {
    font-size: 1.1vw;
    text-align: center;
    margin-top: 2.5vh;
    background-color: burlywood;
}

div.rain::before {
    content: '\26C8';
    font-size: 50px;
}

div.cloud::before {
    content: '\2601';
    font-size: 50px;
}

div.clear:before {
    content: '\2600';
    font-size: 50px;
}


/*Content*/

.content {
    height: 50vh;
    background-image: url('../img/contentbg1.jpg');
    background-position: center;
    background-size: cover;
}


/*FOOTER*/

footer {
    text-align: center;
    background-color: gray;
    ;
    height: 60px;
}

footer p {
    font-size: 10px;
    color: white;
}